html,
body {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
  text-align: center;
  --white: #fefffe;
  --red: #ff6663;
  --light-blue: #bfd7ea;
  --navy: #0b3954;
  --yellow: #e0ff4f;
}

main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

img {
  width: 25vw;
  height: 33.3333333333333333333333333333333333vh;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

div {
  display: flex;
  height: 33.3333333333333333333333333333333333vh;
}

.first,
.third {
  width: 100vw;
}

.first h1,
.third h1 {
  width: 25vw;
}

.second {
  width: 100vw;
}

.main-area {
  width: 34vw;
}

.names {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33vw;
}