#root,
body {
  /* max-width: 1280px; */
  margin: 0;
  padding: 0;
  /* text-align: center; */
}

main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

div {
  display: flex;
}

.first,
.third {
  width: 100vw;
}

.first h1,
.third h1 {
  width: 25vw;
}

.second {
  width: 100vw;
}

.main-area {
  width: 34vw;
}

.names {
  display: flex;
  flex-direction: column;
  width: 33vw;
}

h1 {
  border: 1px solid black;
  margin: 0;
}